* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.limitar-secao{
    max-width: 1024px;
    margin: 0 auto;
}

.modo-claro{
    background-color: #fff;

}

.modo-escuro{
    background-color: #252525;
    
}